/NetBeansProjects/helloworld/nbproject/private/
/NetBeansProjects/helloworld/build/
/NetBeansProjects/cal_rect/nbproject/private/
/NetBeansProjects/cal_rect/dist/
/NetBeansProjects/cal_rect/build/
/NetBeansProjects/vol_paralele/nbproject/private/
/NetBeansProjects/vol_paralele/build/
/NetBeansProjects/aula1/nbproject/private/
/NetBeansProjects/aula1/build/